body{margin:0; padding:0; font-size:13px; color:#fff; background:#242222;}
.wrapper{position:relative; display:flex; padding:5px;}
.left-wrap,.right-wrap{display:flex; flex:1; flex-wrap:nowrap; align-content:center; justify-content:center; align-items:center; height:auto; padding:10px; border-radius: 6px; border:2px solid #40f877;}
.left-wrap{margin-right:5px;}
/* .right-wrap{} */
h1{vertical-align:middle;}
h1::before{display:inline-block; content: ""; background-image:url('./images/checkk-square.png'); background-size:32px 32px; width:32px; height:32px;}